body {
  font-family: Helvetica;
  background-color: white;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: white;
}

.header, .banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

.menu li {
  list-style-type: none;
  font-size: 18px;
}

span {
  font-size: 18px;
}

#copyright {
  font-size: 11px;
  color: white;
}
